# __Austin Crime__

#### Ben Takacs
###### Python 3.13.3

## _Exploring Data_

### Obsidian Project Links
- WIP

## Imports

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import datetime

In [2]:
df = pd.read_csv('./data/Crime_Reports.csv')
df

,Incident Number,Highest Offense Description,Highest Offense Code,Family Violence,Occurred Date Time,Occurred Date,Occurred Time,Report Date Time,Report Date,Report Time,Location Type,Council District,APD Sector,APD District,Clearance Status,Clearance Date,UCR Category,Category Description,Census Block Group
0,2002923330284,FAMILY DISTURBANCE,3400,N,01/29/2003 05:30,01/29/2003,530.0,11/29/2002 05:30,11/29/2002,530.0,RESIDENCE / HOME,6.0,AD,3,N,NaN,NaN,NaN,4.530341e+09
1,2003920010029,DEADLY CONDUCT,408,N,01/01/2003 00:01,01/01/2003,1.0,01/01/2003 00:01,01/01/2003,1.0,RESIDENCE / HOME,4.0,ID,4,N,NaN,13A,Aggravated Assault,4.530021e+09
2,2003920010046,BURGLARY NON RESIDENCE,502,N,01/01/2003 00:02,01/01/2003,2.0,01/01/2003 00:02,01/01/2003,2.0,COMMERCIAL / OFFICE BUILDING,2.0,DA,3,NaN,10/18/2003,220,Burglary,4.530024e+09
3,2003920010048,DEADLY CONDUCT,408,N,01/01/2003 00:03,01/01/2003,3.0,01/01/2003 00:03,01/01/2003,3.0,RESIDENCE / HOME,4.0,ID,2,C,01/02/2003,13A,Aggravated Assault,4.530402e+09
4,2003920010049,PUBLIC INTOXICATION,2300,N,01/01/2003 00:23,01/01/2003,23.0,01/01/2003 00:23,01/01/2003,23.0,HWY / ROAD / ALLEY/ STREET/ SIDEWALK,NaN,GE,3,C,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2614905,20242241547,POSSESSION OF MARIJUANA,1803,N,08/11/2024 23:12,08/11/2024,2312.0,08/11/2024 23:12,08/11/2024,2312.0,GAMBLING FACILITY / CASINO / RACE TRACK,NaN,HE,NaN,NaN,NaN,NaN,NaN,NaN
2614906,20232120660,AUTO THEFT,700,N,07/29/2023 17:30,07/29/2023,1730.0,07/31/2023 12:08,07/31/2023,1208.0,OTHER / UNKNOWN,NaN,HE,8,NaN,NaN,240,Auto Theft,NaN
2614907,20165028813,FAILURE TO REG AS SEX OFFENDER,1799,N,07/13/2016 11:29,07/13/2016,1129.0,07/13/2016 11:29,07/13/2016,1129.0,OTHER / UNKNOWN,NaN,NaN,NaN,N,07/14/2016,NaN,NaN,NaN
2614908,20115031193,PROTECTIVE ORDER,3829,N,06/23/2011 15:37,06/23/2011,1537.0,06/23/2011 15:37,06/23/2011,1537.0,RESIDENCE / HOME,NaN,DA,4,NaN,NaN,NaN,NaN,NaN
2614909,20135056615,PROTECTIVE ORDER,3829,N,12/10/2013 10:29,12/10/2013,1029.0,12/10/2013 10:29,12/10/2013,1029.0,RESIDENCE / HOME,NaN,DA,1,N,12/10/2013,NaN,NaN,NaN

In [3]:
df.describe()

,Incident Number,Highest Offense Code,Occurred Time,Report Time,Council District,Census Block Group
count,2.614910e+06,2.614910e+06,2.614848e+06,2.614909e+06,2.571212e+06,2.549943e+06
mean,5.936249e+10,1.710185e+03,1.313855e+03,1.325301e+03,4.986471e+00,4.541186e+09
std,2.866050e+11,1.217282e+03,7.229112e+02,6.611990e+02,2.834482e+00,6.822965e+07
min,2.003500e+04,1.000000e+02,0.000000e+00,0.000000e+00,1.000000e+00,2.195030e+08
25%,2.005310e+10,6.010000e+02,8.000000e+02,9.070000e+02,3.000000e+00,4.530014e+09
50%,2.010506e+10,1.400000e+03,1.423000e+03,1.406000e+03,4.000000e+00,4.530023e+09
75%,2.017353e+10,2.712000e+03,1.930000e+03,1.851000e+03,8.000000e+00,4.530400e+09
max,2.025251e+12,8.905000e+03,2.400000e+03,2.359000e+03,1.000000e+01,4.910215e+09

In [4]:
df.dtypes

Incident Number                  int64
Highest Offense Description     object
Highest Offense Code             int64
Family Violence                 object
Occurred Date Time              object
Occurred Date                   object
Occurred Time                  float64
Report Date Time                object
Report Date                     object
Report Time                    float64
Location Type                   object
Council District               float64
APD Sector                      object
APD District                    object
Clearance Status                object
Clearance Date                  object
UCR Category                    object
Category Description            object
Census Block Group             float64
dtype: object

In [5]:
df['Occurred Date'] = pd.to_datetime(df['Occurred Date'])

df['Occurred Date']

0         2003-01-29
1         2003-01-01
2         2003-01-01
3         2003-01-01
4         2003-01-01
             ...
2614905   2024-08-11
2614906   2023-07-29
2614907   2016-07-13
2614908   2011-06-23
2614909   2013-12-10
Name: Occurred Date, Length: 2614910, dtype: datetime64[ns]

In [7]:
df['Occurred Date'].describe()

count                          2614910
mean     2013-03-02 13:22:33.021557504
min                2003-01-01 00:00:00
25%                2007-12-13 00:00:00
50%                2012-07-29 00:00:00
75%                2018-04-11 00:00:00
max                2025-04-05 00:00:00
Name: Occurred Date, dtype: object